header {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: 200%;
}

.navlink {
    text-decoration: none;
    color: white;
}

.active {
  font-weight: bold;
  color: red;
  text-decoration: none;
}

.BookCard {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
}

button {
  width: 30%;
  margin-top: 1%;
  margin-bottom: 1%;
}
